<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CritterCrew - Inbox</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/messages/inbox.css">
    <script src="/javascripts/inbox.js"></script>
</head>
<body>
     <!--Including navigation bar-->
     <%- include(includePath + '/template/header') %>
    <div class="container mt-5" id="contents">

        <% if (locals.msg) { %>
            <% if (locals.success) { %>
                <div class="alert alert-primary" role="alert">
            <% } else { %>
                <div class="alert alert-danger" role="alert">
            <% } %>
                <%= msg %>
            </div>
        <% } %>

        <h1 class="text-center">Inbox</h1>
        <div class="row h-75">
            <!--Message list-->
            <div class="col-3 list-group list-group-flush border border-primary me-1 rounded p-0 overflow-auto" id="message-list">
                <% if (locals.messages) { %>
                    <% const messages = locals.messages %>
                    <% for (var i = 0; i < messages.length; i++) { %>
                        <button class="list-group-item list-group-item-action" onclick="fetchMessage(this.id)" id=<%= messages[i].id %>>
                            <h6>From: <%= messages[i].sender %></h4>
                            <p class="m-0">Subject: <%= messages[i].subject %></p>
                            <p class="m-0"><%= messages[i].contents.slice(0, 30) %></p>
                        </button>
                    <% } %>
                <% } %>
            </div>

            <!--Message details-->
            <div class="col border border-primary rounded bg-secondary-subtle">

                <!--Sender-->
                <div class="row m-1">
                    <div class="col-auto">
                        From:
                    </div>
                    <div class="col border border-secondary rounded bg-white" id="message_sender"> </div>
                </div>

                <!--Subject-->
                <div class="row m-1">
                    <div class="col-auto">
                        Subject:
                    </div>
                    <div class="col border border-secondary rounded bg-white" id="message_subject"> </div>
                </div>
                
                <!--Contents-->
                <div class="row m-1 border border-secondary rounded h-75 p-2 bg-white" id="message_contents"> </div>

                <!--Buttons-->
                <div class="btn-toolbar justify-content-between m-1">
                    <button type="button" class="btn btn-danger" onclick="reportCurrentMessage()" id="report_button" disabled>Report</button>
                    <button type="button" class="btn btn-primary" id="reply_button" disabled>Reply</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>